SENTINEL_DENIAL_SPIKE_THRESHOLD=3
SENTINEL_DENIAL_WINDOW_HOURS=24
SENTINEL_ROI_GAP_THRESHOLD=3
SENTINEL_ROI_GAP_RATE_THRESHOLD=0.25
SENTINEL_ROI_MINIMUM_SESSIONS=5
SENTINEL_ROI_WINDOW_HOURS=24
SENTINEL_REPEAT_CONTACT_DAYS=7
SENTINEL_EVIDENCE_LIMIT=25
